box-l.canvas {
  --border: 1px;
  align-content: center;
  background-color: var(--c-white);
  border-color: var(--c3);
  justify-content: center;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

box-l.canvas * {
  --border: 0;
}